{{ define "main" -}}
    <div class="talks posts">

        {{ range where .Data.Pages.ByDate.Reverse "Type" "public-speaking" }}
        <div class="post-teaser">
            {{ if eq (.Date.Format "2006-01-2") (dateFormat "2006-01-2" .Params.eventenddate) }}
            {{ .Date.Format "Monday, 2. Jan 2006" }}
            {{- else -}}
            {{ .Date.Format "Monday, 2. Jan 2006" }} - {{ dateFormat "Monday, 2. Jan 2006" .Params.eventenddate }}
            {{- end }}

           {{ if isset .Params "slides" | and (ne .Params.slides "") -}}
            <a href="{{ .Params.slides }}"><h3>{{ .Title }}</h3></a>
            {{- else -}}
            <h3>{{ .Title }}</h3>
            {{- end }} at
            {{ if isset .Params "eventlink" | and (ne .Params.eventlink "") -}}
            <a href="{{ .Params.eventlink }}" title="{{ .Params.eventtitle }}">{{ .Params.eventtitle }}</a>
            {{- else -}}
            {{ .Params.eventtitle }}
            {{- end }}
            in {{ .Params.city }}, {{ .Params.country }}
        </div>
        {{- end }}
    </div>
{{- end }}
