<div class="posts">
	{{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages -}}
	<div class="post-teaser">
		<header>
		    <h1>
				{{ if and (isset .Params "sigimage") (not (eq .Params.sigimage "")) -}}
					<img src='{{ .Site.BaseURL }}{{ .Params.sigimage }}' width="124" height="124" style="border:1px solid black; border-radius: 5px;">
					<i class='{{ .Params.mode }}' aria-hidden="true"></i>
					{{ .Title }}
				{{- else -}}
					<i class='{{ .Params.mode }}' aria-hidden="true"></i>
					{{ .Title }}
				{{- end }}
		    </h1>
		    {{ partial "post-meta" . }}
		</header>

		<div class="excerpt">
			{{ if isset .Params "description" | and (ne .Params.description "") -}}
				{{ .Description | markdownify }}
			{{- else -}}
				{{ .Summary }}
			{{- end }}
			
			<br>
			<a class="button" href="{{ .Permalink }}">
				{{ .Site.Data.l10n.continueReading }}
			</a>
		</div>
	</div>
	{{- end }}
</div>
