<div class="posts">
	{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
	{{ range $paginator.Pages -}}
	<div class="post-teaser">
		<header>
			<h2>
				{{ if and (isset .Params "sigimage") (not (eq .Params.sigimage "")) -}}
					<img src='{{ .Site.BaseURL }}{{ .Params.sigimage }}' width="124" height="124" style="border:1px solid black; border-radius: 5px;">
					<i class='{{ .Params.mode }} fa-xs' aria-hidden="true"></i>
					<a class="post-link" href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				{{- else -}}
					<i class='{{ .Params.mode }} fa-xs' aria-hidden="true"></i>
					<a class="post-link" href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				{{- end }}
			</h2>
			{{ partial "post-meta" . }}
		</header>

		<div class="excerpt">
			{{ if isset .Params "description" | and (ne .Params.description "") -}}
				{{ .Description | markdownify }}
			{{- else -}}
				{{ .Summary }}
			{{- end }}
			<a class="button" href="{{ .Permalink }}">
				{{ .Site.Data.l10n.continueReading }}
			</a>
		</div>
	</div>
	{{- end }}
</div>
