<div class="posts">
	{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages -}}
	<div class="post-teaser">
		<header>
			<h1>
				{{ if and (isset .Params "sigimage") (not (eq .Params.sigimage "")) -}}
					<img src='{{ .Site.BaseURL }}{{ .Params.sigimage }}' border="0" width="40" height="40">
					<i class='{{ .Params.mode }}' aria-hidden="true"></i>
					{{ .Title }}
				{{- else -}}
				<i class='{{ .Params.mode }}' aria-hidden="true"></i>
				{{ .Title }}
				{{- end }}
			</h1>
			{{ partial "post-meta" . }}
		</header>

		<div class="excerpt">
			{{ if isset .Params "description" | and (ne .Params.description "") -}}
				{{ .Description | markdownify }}
			{{- else -}}
				{{ .Summary }}
			{{- end }}
			<br>
			<a class="button" href="{{ .Permalink }}">
				{{ .Site.Data.l10n.continueReading }}
			</a>
		</div>
	</div>
	{{- end }}
</div>
